/* Global Styles & Variables */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap'); /* Google Fonts [Lato, Nunito] */

/* Colors */
$turquoise: #44ddd0;

$dark-green: #006450;
$green: #27d7a1;
$light-green: #45f69e;

$grey:  #5f5f5f;
$light-grey: #cff8ef;
$shadow-grey: #eeeeee;

$smoke-white: #f8f8f8;
$white: #ffffff;

/* @Overrode Bulma's Variables */

/* Global */
$family-sans-serif: "Nunito", sans-serif;
$primary: $green;
$link: $light-green;

/* Component */
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

/* -- */

/* Global Styles */

html {
  background: linear-gradient( to right top, $turquoise, $green );
}

html, body {
  height: 100%;
}

